<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="tcpEndpoint" sendTimeout="00:05:00" />  
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8740/WCF/WCFSiplex/" binding="netTcpBinding" bindingConfiguration="tcpEndpoint" contract="Client.IWCFSiplex" name="tcpEndpoint">
    <identity>
     <userPrincipalName value="DESKTOP-0F5A2KV\ON" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>